/* Reduce padding between elements of the message list */
._lvv_M {padding-top: 2px; }
._lvv_P { margin-top: 0px; }
._lvv_U { margin-top: 0px; }

/* Shorter message height */
._lvv_B._lvv_C {
    height: 65px;
    border-bottom: 1px dotted lightgray;
}

/* Background on unread messages to make them stand out */
:not([aria-selected="true"]) > [aria-label~="Unread,"] {
    background-color: #f7fff7;
}

/* This appears to be section headers in the message list */
._lvv_91 { line-height: 12px; }
._lvv_a1 { background-color: #f0f0f0; }

/* Folder list on the side */
._n_r5._n_f5 { height: 21px }
._n_k5 { vertical-align: top }
._n_o5 { padding-top: 2px; height: 21px; top: 0px; }
._n_m5 { vertical-align: top }
